[submodule "vendor/plugins/workflow"]
	path = vendor/plugins/workflow
	url = git://github.com/ryan-allen/workflow.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rails-widgets"]
	path = vendor/plugins/rails-widgets
	url = git://github.com/paolodona/rails-widgets.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/lightbox"]
	path = vendor/plugins/lightbox
	url = git://github.com/Lipsiasoft/lightbox.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = git://github.com/kete/tiny_mce.git
[submodule "vendor/plugins/acts_as_textiled"]
	path = vendor/plugins/acts_as_textiled
	url = git://github.com/defunkt/acts_as_textiled.git
[submodule "vendor/plugins/textile-editor-helper"]
	path = vendor/plugins/textile-editor-helper
	url = git://github.com/decode/textile-editor-helper.git
[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = git://github.com/activescaffold/active_scaffold.git
