-# form_for :attachment, @attachment, :url => {:action => 'create'}, :html => { :multipart => true } do |form|
- form_for [@user, @gallary, Attachment.new], :html => { :multipart => true } do |form|
  = form.file_field :object
  = submit_tag 'Post'
