/ 
  body
    :background-color #e6e6e6

  hr
    :background-color #000
  
#site_menu
  /*:font 12px verdana, arial, sans-serif
  :list-style none
  :padding 0
  :margin 0
  :float right
  li
    :float left
    a
      :display block
      /* If mixed words, use fixed width.
      /* width:150px
      /* height:30px
      /* line-height:30px
      /* text-align:center
      :padding 8px 50px
      :background #3A4953
      :color #fff
      :text-decoration none
      :border-right 1px solid #000
      &:hover
        :background #146C9C
        :color #fff
        :text-decoration none
        :border-right 1px solid #000
      &.last
        :border-right 0 /* remove left frame */

#passbox
  :position absolute
  :left 0
  :width 100%
  :z-index 100
  :text-align center
  :line-height 0


#passbox_overlay
  :position absolute
  :top 0
  :left 0
  :z-index 90
  :width 100%
  :height 500px
  :background-color #000
	
#blog_time
  :background-color #e0f0e0 

!blog_info = 15
!talk = 5
!percent = "%"
#topic_reply
  .user
    :position relative
    :width = (!blog_info - !talk)+ !percent

  .dialog
    :background-color #fff
    :border-width 1px
    :border-style solid
    :border-color #c9c2c1
    :position relative
    :top -15px
    :left = (!blog_info) + !percent
    :width = (100 - !blog_info - 1) + !percent
    :-moz-border-radius 1ex
    :-webkit-border-radius 1ex

    .talk
      :position relative
      :top 0px
      :margin 0px
      :padding 0px 0px 0px 2px
      :left = -12px
      :background transparent url(../images/talk.gif) no-repeat left bottom

    .message
      :background-color #E6FFDC
      :position relative
      :-moz-border-radius-topleft 1ex
      :-webkit-border-top-left-radius 1ex
      :-moz-border-radius-topright 1ex
      :-webkit-border-top-right-radius 1ex
    .body
      :position relative
      :top -15px
      :left 5%

    .position
      :position relative
      :top 20px

    .toolbox
      :width = (!blog_info) + !percent
      :position relative
      :left = (100 - !blog_info + 5) + !percent

#topic
  .user
    :position relative
    :width = (!blog_info - !talk)+ !percent

  .dialog
    :background-color #fff
    :border-width 1px
    :border-style solid
    :border-color #c9c2c1
    :position relative
    :top -15px
    :left = (!blog_info) + !percent
    :width = (100 - !blog_info - 1) + !percent
    :-moz-border-radius 1ex
    :-webkit-border-radius 1ex

    .talk
      :position relative
      :top 0px
      :margin 0px
      :padding 0px 0px 0px 2px
      :left = -12px
      :background transparent url(../images/talk.gif) no-repeat left bottom

    .message
      :background-color #b7e0ff
      :position relative
      :-moz-border-radius-topleft 1ex
      :-webkit-border-top-left-radius 1ex
      :-moz-border-radius-topright 1ex
      :-webkit-border-top-right-radius 1ex
    .body
      :position relative
      :top -15px
      :left 5%

    .position
      :position relative
      :top 20px

    .toolbox
      :width = (!blog_info) + !percent
      :position relative
      :left = (100 - !blog_info + 5) + !percent

.rounded 
  :background-color #b7e0ff
  :-moz-border-radius 1ex
  :-webkit-border-radius 1ex

#comment_list
  .comment_box
    :border 1px solid #c9c2c1
    :background-color #fff
    :margin 0px
    :padding 0px
    :-moz-border-radius 1ex
    :-webkit-border-radius 1ex
  #comment_title
    //:margin 10px
  #comment_body
    :margin 10px
  #commenter
    :background-color #b7e0ff
    :position relative
    :margin 0px
    :padding 7px 0px 0px 15px
    :top -1px
    :background transparent url(../images/tip_down.gif) no-repeat 10px 0px
    
#topic_path
  :background-color #b7e0ff
  :margin 5px
  //:-moz-border-radius 1ex
  //:-webkit-border-radius 1ex

// Using in _article_list.haml
#article_content
  #article_title
    :font-size 20px

  #article_tile

  #article_body
    :margin 20px

// Using in users/show.haml
#user_info
  :border-width 2px
  :border-style solid
  :-moz-border-radius 1ex
  :-webkit-border-radius 1ex
