%table
  - for user in @user.blocked_users
    %tr
      %td
        = check_box_tag "blocked_users[]", user.id
      %td
        = link_to user.login, user_path(user)
      %td
        = link_to t('global.delete')
      %td
        = link_to t('manage.unblock'), :action => "unblock", :id => user
  
      
