%table
  - for user in @user.blocked_users
    %tr
      %td
        = check_box_tag "blocked_users[]", user.id
      %td
        = link_to user.login, user_path(user)
      %td
        = link_to "Delete"
      %td
        = link_to "Unblock", :action => "unblock", :id => user
  
      
