%table
  - for msg in @user.deleted_messages
    %tr
      %td
        = check_box_tag "messages[]", msg.id
      %td
        = link_to msg.title, message_path(msg)
      %td
        = link_to msg.user, user_path(msg,user)
